In [1]:
import pandas as pd

In [2]:
# Read Excel file into a DataFrame
excel_file = "dpas project.xlsm"
df = pd.read_excel(excel_file)
df.head()

,date,Changed Qty,Reason Desc,Stock Nbr,Item Desc
0,2023-10-19,-1,Issue Nbr: 29II2023292000017,8470016751193,"PLATE CARRIER, GEN III, MED"
1,2023-10-19,-1,Issue Nbr: 29II2023292000017,8415015549623,"CAP, COYOTE, MICRO FLEECE S-M"
2,2023-10-19,-1,Issue Nbr: 29II2023292000017,8415016239601,"GLOVES,MENS AND WOMENS SZ 2"
3,2023-10-19,-1,Issue Nbr: 29II2023292000017,6515015768861,"PLUG,EAR, MED"
4,2023-10-19,-1,Issue Nbr: 29II2023292000017,8465016007956,"PACK, USMC, BLADDER HYDRATION"

In [3]:
df['day_of_the_week']= df['date'].dt.day_name()
df.head()

,date,Changed Qty,Reason Desc,Stock Nbr,Item Desc,day_of_the_week
0,2023-10-19,-1,Issue Nbr: 29II2023292000017,8470016751193,"PLATE CARRIER, GEN III, MED",Thursday
1,2023-10-19,-1,Issue Nbr: 29II2023292000017,8415015549623,"CAP, COYOTE, MICRO FLEECE S-M",Thursday
2,2023-10-19,-1,Issue Nbr: 29II2023292000017,8415016239601,"GLOVES,MENS AND WOMENS SZ 2",Thursday
3,2023-10-19,-1,Issue Nbr: 29II2023292000017,6515015768861,"PLUG,EAR, MED",Thursday
4,2023-10-19,-1,Issue Nbr: 29II2023292000017,8465016007956,"PACK, USMC, BLADDER HYDRATION",Thursday

In [4]:
df.to_excel('fixed data.xlsx', index=False)

In [5]:
reason_desc_count = df.groupby(['date', 'Reason Desc']).size().reset_index(name='count')
reason_desc_count.head()

        date                   Reason Desc  count
0 2023-01-03  Issue Nbr: 29II2020003000002     23
1 2023-01-03  Issue Nbr: 29II2020003000003     55
2 2023-01-03  Issue Nbr: 29II2020003000004      2
3 2023-01-03  Issue Nbr: 29II2020003000005     54
4 2023-01-03  Issue Nbr: 29II2022003000001      2

In [6]:
ave_reason_desc_count= reason_desc_count['count'].mean()
print(f"Average Items Per Transaction: {ave_reason_desc_count}")

Average Items Per Transaction: 20.49367325546571

In [7]:
reason_count_per_day =df.groupby('date')['Reason Desc'].nunique().reset_index(name = 'unique_reason_count')
reason_count_per_day.head()

        date  unique_reason_count
0 2023-01-03                    6
1 2023-01-04                   53
2 2023-01-05                  185
3 2023-01-06                  149
4 2023-01-07                  106

In [8]:
reason_count_per_day.to_excel('reason_count_per_day.xlsx', index = False)

In [9]:
average_unique_reason_count= reason_count_per_day['unique_reason_count'].mean()
print(f"Average Reason Count Per Day: {average_unique_reason_count}")

Average Reason Count Per Day: 75.671388101983

In [10]:
day_of_week_count = df['day_of_the_week'].value_counts().reset_index(name = 'count')
day_of_week_count.columns = ['day_of_the_week', 'count']
day_of_week_count.head()

  day_of_the_week   count
0        Thursday  120172
1          Friday  105906
2       Wednesday   86188
3        Saturday   73613
4         Tuesday   60000